# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# macOS
.DS_Store

# Windows
Thumbs.db
# Local backup archives
*.zip
